# MM3 map ID in the DOSBox memory snapshot.
map_id_address=0x2EE33

# Observed map ID 1: Fountain Head.
map_1=resources/maps/mm3/Fountain Head.map
map_6=resources/maps/mm3/Fountain Head Höhle.map
map_16=resources/maps/mm3/Tempel des Moo.map

# A1 was observed as ID 41 in the saved MM3 memory snapshot.
map_41=resources/maps/mm3/A1.map
